spring:
  datasource:
    url: jdbc:mysql://localhost:3306/queuectl?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
    username: root
    password: Pavan@123

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
      # ✅ Critical line — ensures Hibernate writes LocalDateTime in IST
      hibernate.jdbc.time_zone: Asia/Kolkata

flyway:
  enabled: true
  baseline-on-migrate: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
